body{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color:  #434455;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

li {
list-style-type: none;
}
.wrapper {
    max-width: 1440px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.site-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
}
.site-logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.54px;
    line-height: 1.17;
    color: #4D5AE5;
    
}
.logo-span {
    color: #2e2f42;
    padding-right: 76px;
}
.nav-menu {
padding-bottom: 25.5px;
padding-top: 25.5px;
}
.nav-list {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    padding-right: 332px;
}
.nav-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;
    color: #2e2f42;
}
.nav-link:hover {
    color: #404bbf;
}
.nav-link:focus {
    color: #404bbf;
}
.site-adress {
    font-style: normal;
}
.address-list {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
}
.address-link{
    color: #434455;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;
    font-style: normal;
}
.address-link:hover {
    color: #404bbf;
}
.address-link:focus {
    color: #404bbf;
}
.promo-banner {
    background-color: #2e2f42;
    flex-direction: column;
    display: inline-flex;
    align-items: center;
    width: 100vw;
    flex-shrink: 0;
    gap: 48px;
    padding-top: 188px;
    padding-bottom: 188px;
}
.promo-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height:  1.07;
    color: #FFF;
    text-align: center;
    max-width: 496px;
}
.promo-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.64px;
    color: white;
    background-color: #4D5AE5;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}
.promo-button:hover {
    background-color: #404BBF;
}
.promo-button:focus {
    background-color: #404BBF;
}
.features-content {
    width: 100vw;
}
.features-hiden-title {
    visibility: hidden;
}
.features-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 120px 156px;
}
.features-list-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}
.features-list-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.features-list-p {
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;
}
.team-content {
    background-color: #F4F4FD;
    width: 100vw;
}
.team-content-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 72px;
}
.team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 120px;
}
.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
    align-items: center;
}
.team-list-about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    align-items: center;
}
.team-list-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2; /* 120% */
}
.team-list-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.portfolio-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11; /* 111.111% */
    text-transform: capitalize;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 24px;
    width: 100vw;
    padding-bottom: 120px;
}
.portfolio-list-item {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 32px;
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
}
.portfolio-list-about {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.portfolio-list-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.portfolio-list-p {
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;
}
.site-footer {
    background-color: #2e2f42;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17.5px;
    padding-top: 101.5px;
    padding-bottom: 100px;
    padding-left: 156px;
    width: 100vw;
}
.footer-p {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;
    max-width: 264px;
}
.footer-logo {
    color: #4d5ae5;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 700;
    font-size: 18px;
}
.footer-span {
    color: #f4f4fd;
}
